@tailwind base;

@tailwind components;

@tailwind utilities;

.theme-dark {
    --bg-background-primary: #1a202c;
    --text-primary: white;
}

.theme-light {
    --bg-background-primary: white;
    --text-primary: black;
}
.toggle-checkbox:checked {
    @apply: right-0 border-green-400;
    right: 0;
    border-color: #68D391;
}
.toggle-checkbox:checked + .toggle-label {
    @apply: bg-green-400;
    background-color: #68D391;
}


